<div class="social">
    <p>Follow us on social media for the latest updates of Nintendo</p>
    <ol>
        <li><i class="fa-brands fa-x-twitter"></i> Twitter</li>
        <li><i class="fa-brands fa-facebook"></i> Facebook</li>
        <li><i class="fa-brands fa-youtube"></i> YouTube</li>
    </ol>
</div>
<div class="copyright">
    <p>© 1989 Nintendo</p>
</div>
<div class="seal">
    <img src="./img/seal.png" alt="Nintendo Seal of Quality">
</div>

<!-- My JS -->
<script src="./js/mario-jump.js"></script>