<!--Nintendo logo-->
<div>
    <img src="./img/logo.png" alt="The Official Nintnedo Logo">
</div>
<!-- Nav -->
<div>
    <nav>
        <ol>
            <li><a href="about.html">About Us</a></li>
            <li><a href="index.html">Home</a></li>
            <li><a href="contact.html">Contact Us</a></li>
            <li><a href="product.html">Gameboy</a></li>
        </ol>
    </nav>
</div>
<!-- Mario Image -->
<div>
    <img id="mario" src="./img/mario_Standing.png" alt="Mario Standing">
</div>
<script src="./js/mario-jump.js"></script>